astroid==2.2.5
autopep8==1.4.4
base58==1.0.3
cachetools==3.1.1
certifi==2019.6.16
chardet==3.0.4
Django==2.2.4
django-cors-headers==3.0.2
django-debug-toolbar==2.0
django-extensions==2.2.1
django-filter==2.2.0
djangorestframework==3.10.2
djangorestframework-jwt==1.11.0
google-auth==1.6.2
idna==2.8
ipfs-api==0.2.3
ipfshttpclient==0.4.12
isort==4.3.21
lazy-object-proxy==1.4.1
Markdown==3.1.1
mccabe==0.6.1
multiaddr==0.0.8
netaddr==0.7.19
pyasn1==0.4.6
pyasn1-modules==0.2.6
pycodestyle==2.5.0
PyJWT==1.7.1
pylint==2.3.1
pytz==2019.2
requests==2.22.0
rsa==4.0
six==1.12.0
sqlparse==0.3.0
typed-ast==1.4.0
urllib3==1.25.8
varint==1.0.2
wrapt==1.11.2
